<a href="/bandeja/{{_id}}">
    <div class="card-body">
        <img src="/images/{{band_foto}}" class="img-fluid p-4">
    </div>

    <div class="card-footer">
        <h1>{{band_name}}</h1>
        <p>{{band_descr}}</p>
        <span>{{band_price}} €</span>
    </div>
</a>