<h1>{{title}}</h1>
<h6>{{subtitle}}</h6>
<br>

<p>
    <button class="btn btn-success" type="button" data-toggle="collapse" data-target="#colBandejas"
        aria-expanded="false" aria-controls="collapseBandejas">Listar Bandejas
    </button>
    <button class="btn btn-success" type="button" data-toggle="collapse" data-target="#colUsuarios"
        aria-expanded="false" aria-controls="collapseUsuarios">Listar Usuarios
    </button>
    <a class="btn btn-info text-white" href="/create">Crear Bandeja</a>
</p>

<div class="container collapse" id="colBandejas">
    {{#each bandejas}}
    <ul class="d-inline-flex align-middle border-bottom">
        <li>
            <h3>{{band_name}}</h3>
            <small>{{format band_price}}</small>
            <small>{{band_descr}}</small>
            {{#each fotos}}
            <img src="https://res.cloudinary.com/dm4dzbfxs/image/upload/{{img_url}}" alt=""
                class="col-md-2 img-thumbnail">
            {{/each}}
            <div class="text-right">
                <a href="admin/bandejaEdit/{{_id}}" class="btn btn-info text-white">editar</a>
                <a href="admin/bandejaClear/{{_id}}" class="btn btn-danger text-white">eliminar</a>
            </div>
        </li>
    </ul>
    {{/each}}
</div>
<div class="collapse" id="colUsuarios">
    {{#each usersList}}
    <li class="p-4">
        <small class="col-md-6">{{user_name}}</small>

        <a href="admin/userEdit/{{_id}}" class="btn btn-info text-white col-md-2 btn-xs">editar</a>
        <a href="admin/userClear/{{_id}}" class="btn btn-danger text-white col-md-2 btn-xs">eliminar</a>
    </li>
    {{/each}}
</div>